# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
env/
venv/
ENV/

# Build and Workspace Folders
source-code/
cache/
out/
bin/
infos/
.temp/
*.img
*.log
filedigest.md

# OpenWrt Build Artifacts
dl/
staging_dir/
build_dir/
tmp/
.config*

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
